.clg-option-text{
    cursor:pointer;
    background-color:#ffffff;
    color:black;
    font-weight:400;
    font-size:18px;
    font-family:"Roboto";
}
.clg-option-cont{
    background-color:#ffffff;
    padding-left:20px;
}